<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WIYC</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">

      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">Weather In Your City </span>
      </a>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-5 offset-1">
                <h1>WEATHER APP</h1>
                <form method="post">
                    {% csrf_token %}
                    <label for="city">City</label>
                    {{form.name}}
                    <input type="submit" name="send" value="Find" class="mt-2 btn btn-danger">
                </form>
            </div>
             <div class="col-4 offset-1">
                <h1>Information</h1>

                 {% for info in all_info %}

                 <div class="alert alert-info">
                     <div class="row">
                         <div class="col-9">
                     <b>City</b> {{info.city}}<br>
                     <b>Tempertaor</b> {{info.temp}}<sup>o</sup>
                         </div>
                         <div class="col-2 offset-1">
                     <img src="https://openweathermap.org/img/w/{{info.icon}}.png" alt="" class="img-thumbnail">
                            </div>
                     </div>
                 </div>

                 {% endfor %}

            </div>
        </div>
    </div>
</body>
</html>
